@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    /* primary */
--blue: hsl(246, 80%, 60%);
--light-red-work: hsl(15, 100%, 70%);
--soft-blue: hsl(195, 74%, 62%);
--light-red-study: hsl(348, 100%, 68%);
--lime-green: hsl(145, 58%, 55%);
--violet: hsl(264, 64%, 52%);
--soft-orange: hsl(43, 84%, 65%);

/* neutral */
--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);
--white: whitesmoke;

/* card titles eg. work, play */
--titles-font-size: 1.125; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(./Images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}
header .logo {
    color: var(--blue);
    font-size: 18px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    transition: all .42s;
}
.navbar a:hover{
    color: #ea4343;
}
.btn-icon{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    font-size: 19px;
    text-transform: capitalize;
    color: #fff;
    border: 2px solid #ea4343;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ea4343;
    letter-spacing: 1px;
    font-weight: 500;
    margin-right: 15px;
    transition: all .42s;
}
.btn:hover{
    background-color: transparent;
}
#menu-icon{
    color: #fff;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.wrapper {
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#user-form label {
    color: var(--dark-blue);
    font-size: 1.0rem;
    margin-bottom: 0.1rem;
}
#user-form input {
    position: relative;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
}
#user-form button {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.0rem;
    cursor: pointer;
}
#user-form button:hover {
    background-color: var(--soft-blue);
}
#user-form button:disabled {
    background-color: var(--desaturated-blue);
    cursor: not-allowed;
}
#user-form select {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
}
#user-form select option {
    background-color: var(--pale-blue);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
}
#user-form select option:hover {
    background-color: var(--soft-blue);
}
#user-form select option:disabled {
    background-color: var(--desaturated-blue);
    cursor: not-allowed;
}
#user-form select option:checked {
    background-color: var(--soft-blue);
}

.user-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
table {
    border-collapse: collapse;
    color: var(--white);
} 
th, td {
    border: 1px solid black;
    padding: 2px;
}
th {
    background-color: var(--blue);
}
td {
    background-color: var(--dark-blue);
}
tr:nth-child(even) {
    background-color: var(--desaturated-blue);
}
tr:nth-child(odd) {
    background-color: var(--pale-blue);
}
#user-table {
    width: 10%;
    height: 10vh;
}


@media(max-width:1220px){
    header{
        padding: 40px 3%;
        transition: .3s;
    }
}
@media(max-width:1040px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 29vh;
        background: #ea4343;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition: all .42s;
    }
    .navbar a{
        display: block;
        margin: 13px 0;
        padding: 0 25px;
        transition: all .42s;
    }
    .navbar a:hover{
        color: #000;
        transform: translateX(5px);
    }
    .navbar.open{
        right: 3%;
    }
}